#game-info {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.365);
  border: 3px solid white;
}
.game-info {
  &__property {
    padding: 5px;
  }
}